<p>
  Please click below link to reset your password: <br>
  <%= link_to 'Reset password', reset_password_users_url(token: @user.reset_password_token) %> <br>
  The link would be expired in 6 hours.
</p>