<h2>Forgot Password</h2>

<%= form_tag send_reset_email_users_path do |f| %>
  <div class="form-group">
    <%= label_tag :email %><br/>
    <%= email_field_tag :email, nil, autofocus: true, required: true, class: 'form-control' %>
  </div>
  
  <%= submit_tag "Send reset password email", class: 'btn btn-light' %>
<% end %>