<h2>Forgot Password</h2>

<%= form_tag send_reset_email_users_path do |f| %>
  <div>
    <%= label_tag :email %><br/>
    <%= email_field_tag :email, nil, autofocus: true, autocomplete: "email", required: true %>
  </div>
  
  <%= submit_tag "Send reset password email" %>
<% end %>